#login-body {
    font-family: Helvetica, sans-serif;
    color: #333;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 0;
    width: 100%;
    background: #f0f0f0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ffffff, #cecece); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ffffff, #cecece); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ffffff, #cecece); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ffffff, #cecece); /* Standard syntax */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login-container {
    margin-top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background: rgba(169, 169, 169, 0.2);
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    color: #870000;
}
.form-control {
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#white-hr {
    border: 0;
    height: 1px;
    background: white;
    margin-top: 10px;
    margin-bottom: 2px;
}

#facebook-sign {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 200px;
}

#login-btn, #register-btn, #remind-btn {
    width: 130px;
    color: white;
    background-color: rgba(0, 0, 0, 0.34);
}

.buttons-wo {
    color: #2f2f2f;
    margin-top: 2px;
    padding: 0;
    border: none;
    background: none;
}


