#login-body {
    color: black;
    display: block;
    position: absolute;
    height: auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 0;
    width: 100%;
    background: #f3f3f3; /* For browsers that do not support gradients */
    background: linear-gradient(180deg, #5fb6ff 50%, white 50%);
    background: -webkit-linear-gradient(-90deg, #5fb6ff 50%, white 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #5fb6ff 50%, white 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #5fb6ff 50%, white 50%); /* For Firefox 3.6 to 15 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#facebook-btn {
    background: #2d5f9a;
    color: white;
}

#login-container {
    background: rgba(250, 250, 250, 0.98);
}
