html {
    height: 100%
}

.login md-card {
    width: 400px;
}

.or{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Facebook button style*/
.md-button.md-raised.facebook-btn{
    background-color: #2d5f9a;
    color: white;
    border: 1px black;
}
.md-button.md-raised.facebook-btn:not([disabled]):hover {
    background-color: rgba(45, 95, 154, 0.93);
}

a.simplelink:link, a.simplelink:visited {
    text-decoration: none;
}

a.simplelink:hover, a.simplelink:active {
    text-decoration: underline;
}

.notfound {
    background-color: #f1f1f1;
    color: #fff;
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
