<md-content layout="row" flex>
    <div id="not-found" layout="column" layout-align="center center" flex>
        <div class="content" layout="column" layout-align="center center">
            <div class="code-404" layout-align="center center">
                404
            </div>
            <div class="message" layout-align="center center">
                Sorry but we couldn’t find the page you are looking for
            </div>
            <a href="/" class="back-link">back to home</a>
        </div>
    </div>
</md-content>
