<div layout="column" flex>
    <!-- navbar -->
    <md-toolbar ui-view="navbar" flex>
    </md-toolbar>
    <!-- / navbar -->
    <div layout="column" layout-fill flex>
        <section layout="row" flex>
            <!-- sidebar -->
            <div ui-view="sidebar" flex>
            </div>
            <!-- / sidebar -->
            <!-- content -->
            <md-content ui-view="content" id="content" flex>
            </md-content>
            <!-- /content -->
        </section>
        <!-- footer -->
        <md-bottom-sheet ui-view="footer">
        </md-bottom-sheet>
        <!-- / footer -->
    </div>
</div>
