<md-content class="sign" layout="column" layout-align="start center" layout-fill md-theme="default">
    <md-button aria-label="back to home" class="md-fab md-primary md-fab-top-left" ui-sref="app.anon.home">
        <md-tooltip md-direction="right" md-visible="tooltipVisible">Back to home</md-tooltip>
        <md-icon md-font-icon="mdi mdi-arrow-left"></md-icon>
    </md-button>
    <h1 class="flowr">FlowR</h1>
    <md-card class="md-whiteframe-4dp">
        <md-toolbar>
            <div layout="column" layout-padding layout-align="center center">
                <h2>Log in</h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="loginVm.loginForm" novalidate>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="email" type="email" ng-model="loginVm.user.email" required>
                    <div ng-messages="loginVm.loginForm.email.$error" ng-show="loginVm.loginForm.email.$dirty">
                        <div ng-message="required">Please enter an email.</div>
                        <div ng-message="email">Please enter your email address correctly.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input name="password" type="password" ng-model="loginVm.user.password" required minlength="6">
                    <div ng-messages="loginVm.loginForm.password.$error"
                         ng-show="loginVm.loginForm.password.$dirty">
                        <div ng-message="required">Please enter a password.</div>
                        <div ng-message="minlength">That's too short.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <div layout="row" layout-align="space-between start">
                        <md-checkbox ng-model="loginVm.rememberMe" ng-disabled="true">Remember me?</md-checkbox>
                        <a href="#" class="simple-link">Forgot password?</a>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-disabled="loginVm.loginForm.$invalid"
                               ng-click="loginVm.emailLogin()">Log in
                    </md-button>
                </div>

                <!-- temporary hidden (currently website doesn't have a facebook sign in support) -->

                <!--<div layout="row" layout-align="center center">-->
                <!--<span layout="row" class="or-pad" flex="40">-->
                <!--<hr class="or" flex> OR <hr class="or" flex>-->
                <!--</span>-->
                <!--</div>-->
                <!--<div layout="row" layout-align="center center">-->
                <!--<md-button class="facebook-btn md-raised" ng-click="loginVm.authenticate('facebook')"-->
                <!--ng-disabled="true">-->
                <!--<md-icon md-font-icon="mdi mdi-facebook"></md-icon>-->
                <!--Sign in with Facebook-->
                <!--</md-button>-->
                <!--</div>-->

                <div layout="row" layout-align="space-between start">
                    <span>Don't have an account?</span>
                    <a ui-sref="app.anon.signup" class="simple-link">Create an account</a>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
