<div id="login-body">
    <div class=row">
        <div
            class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <div class="container-fluid" id="login-container">
                <div class="form-login">
                    <h4>Welocome on FlowR.</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input"
                           placeholder="password"/>
                        <span class="group-btn">
                            <a href="#" id="login-btn" class="btn btn-primary btn-md">login <i
                                class="fa fa-sign-in"></i></a>
                        </span>
                    <hr id="white-hr">
                    or<br>
                    <a class="btn btn-block btn-social btn-facebook" id="facebook-sign">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Sign in with Facebook
                    </a>
                    <button class="buttons-wo" id="remind-btn">forgot your password?</button>
                    <br>
                    <button class="buttons-wo" id="register-btn">create new account</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0">
        </div>
    </div>

    <div id="remind-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="glyphicon glyphicon-remove"></span>
                <h2>Remind password.</h2>
            </div>
            <div class="modal-body">
                    <input type="text" class="form-control input-sm chat-input" placeholder="username or e-mail"/>
            </div>
            <div class="modal-footer">
                <button href="#" id="send-btn" class="btn btn-primary btn-md">send</button>
            </div>
        </div>
    </div>
</div>
