<md-sidenav class="md-sidenav-left user-sidenav" md-component-id="navigation" md-disable-backdrop md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>
    <md-subheader>Sidenav</md-subheader>
    <md-content layout-margin>
        <p>
            This sidenav is not showing anything now.
        </p>
        <!--<footer class="footer" layout="row" layout-align="space-between center">-->
            <!--<md-button>Theme</md-button>-->
            <!--<md-button>Language</md-button>-->
        <!--</footer>-->
    </md-content>
    <!--TODO dynamic side bar (probably use directive) -->
</md-sidenav>
