html {
    overflow: hidden !important;
}

body {
    overflow: hidden !important;
}

#main {
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.login {
    md-card {
        width: 400px;
    }
}

.signup {
    md-card {
        width: 400px;
    }
}

.or-pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.or {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.md-button.md-raised.facebook-btn {
    background-color: #2d5f9a;
    color: white;
    border: 1px black;

    &:not([disabled]) {
        &:hover {
            background-color: RGBA(45, 95, 154, 0.93);
        }
    }
}

a.simple-link {
    &:link {
        color: rgb(16, 108, 200);
        text-decoration: none;
    }

    &:visited {
        color: rgb(16, 108, 200);
        text-decoration: none;
    }

    &:hover {
        color: rgb(16, 108, 200);
        text-decoration: underline;
    }

    &:active {
        color: rgb(16, 108, 200);
        text-decoration: underline;
    }
}

md-content {
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#not-found {
    background-color: #f0f0f0;
    color: #000;
    text-align: center;

    .content {
        width: 90%;
        max-width: 512px;
    }

    .code-404 {
        font-size: 112px;
        line-height: 1;
        margin-bottom: 16px;
        font-weight: 500;
    }

    .message {
        font-size: 24px;
        color: rgba(0,0,0,0.54);
    }

    .back-link {
        font-size: 15px;
        margin-top: 25px;
    }
}

.hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}
